<!DOCTYPE html>
<html>
<head>
    <title>Deepside</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0fb9fd672c.js"></script>
    <link rel="stylesheet" type="text/css" href="Estilos/styleindex.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">TOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item text-white">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registrate</a>
                </li>
            </ul>
            <input class="form-control mr-sm-2" type="text">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="/dress" class="list-group-item list-group-item-action">Indumentaria</a>
                <a href="/accesories" class="list-group-item list-group-item-action">Accesorios</a>
                <a href="/figures" class="list-group-item list-group-item-action">Figuras</a>
                <a href="/teddies" class="list-group-item list-group-item-action">Peluches</a>
                <a href="/anime" class="list-group-item list-group-item-action">Anime</a>
                <a href="/videogames" class="list-group-item list-group-item-action">Videojuegos</a>
                <a href="/cosplay" class="list-group-item list-group-item-action">Cosplay</a>
            </div>
        </div>

        <div class="col-md-10">
            <div class="card border-primary mb-3" style="max-width: 20rem;" th:each="product:${dressProducts}">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <label>nombre: </label><a th:href="'/detail/' + ${product.id}" th:text="${product.name}">to</a><br></br>
                    <label>contrasenia: </label><label th:text="${product.urlpic}">1234</label><br></br>
                    <label>activo: </label><label th:text="${product.description}">true</label><br></br>
                    <label>activo: </label><label th:text="${product.price}">true</label><br></br>
                    <a th:href="'/delete/' + ${product.id}">X</a>
                </div>
            </div>
        </div>
    </div>
</div>