<!DOCTYPE html>
<html>
<head>
	<title>Trabaja con nosotros</title>
		<link rel="stylesheet" type="text/css" href="Estilos/styleindex.css">
</head>
<body>
	<div id="cabecera">
		<div class="wrapper">
			<h1>SEASCAPE</h1>
			<ul class="navegador">
 				<li><a href="index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="contact.html">Contacto</a></li>
				<li><a href="locations.html">Locaciones</a></li>
				<li><a href="tienda.html">Tienda</a></li>
				<li><a href="work.html">Trabaja con nosotros</a></li>
			</ul>	
		</div>
	</div>

<center>
<div class="contenedor">
	<form method="post" enctype="multipart/form-data" style="color: #fff;"><br>

Nombre:      <input type="text" name="name"><br><br>

DNI:                      <input type="text" name="doc"><br><br>

Telefono:	<input type="text" name="phone" value="ingresar telefono"><br><br>

E-mail: <input type="text" value="Mail"><br><br>

<br><br>

<input type=file size=60 name="cv"><br><br>

<input type=file size=60 name="presentacion"><br><br>

<input type=submit value="Enviar postulacion"><br>
</form><br>


</script>


</div>

</center>
</body>
</html>